<html>
    <head>
        <script src="https://kit.fontawesome.com/0a044cf2ff.js" crossorigin="anonymous"></script>
        <meta charset ="utf-8">
        <link href ="/public/style.css" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
        <meta name = "viewport" content = "width=device-width;initial-scale=1.0"/>
        <title>TodayNews</title>
    </head>
    <header>
        <div class ="center" >
                <div class="logo">
                    <a href="/"><h1><span style="font-weight: lighter;">Today</span><b>News</b></h1></a>
                </div><!--logo-->
                <div class="form-busca">
                    <form action = "/">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type ="text" name ="busca" placeholder="Digite o que busca"/>
                    </form>
                </div><!--form-busca-->
        </div><!--center-->
        <div class = "center">
            
            <nav>
                <ul>
                    <li><a href="">Esportes</a></li>
                    <li><a href="">Educação</a></li>
                    <li><a href="/como-ser-programador">Tecnologia</a></li>
                    <li><a href="">Natureza</a></li>
                    <li><a href="">Política</a></li>
                    <li><a href="">Música</a></li>
                    <li><a href="">Entretenimento</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div style = "height:15%;width:100%;"></div>
    <body>
        